
html {
    font-size: 10px;
    font-family: 'Annie Use Your Telescope', cursive;
}


html {
    background-color: #9DC798;
  }


  body {
    width: 900px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
    text-align: center;
  }

  img {
    display: block;
    margin: 0 auto;
  }
  

h1 {
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #2c6f20;
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
    
  }
  
p {
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
    color: #2c6f20;
    font-weight: bold;

  }
  
